#result{
  display: none;
  padding-left:30px;
}

.first-flex{
  display: flex;
  flex-direction: row;
  height:650px;
  background-color: white;
  height: 680px;
}
.sec-flex{
  display: flex;
  flex-direction: column;
  align-content: center;
  /* margin-left: 10px; */
  margin-left:-270px;
  margin-top: -600px;
}
.tri{
  width:80%;
  height:0px;
  margin-top: 0px;
  background-color:transparent;
  border-left:580px solid transparent;
  border-top: 680px solid #ffece6;

  margin-bottom: -130px;
  margin-left: -182px;

 }
 .parallelogram {
	width: 99px;
	height: 681px;
	transform: skew(45deg);
	background: transparent;

  border-left:100px solid white;
  border-bottom: 681px solid white;

  margin-top: -270px;
  margin-left: -170px;
}
/* .par1 {
 width: 120px;
 height: 700px;
 transform: skew(47deg);
 background: white;

 border-left:100px solid #ff8a00;
 border-bottom: 818px solid white;


 margin-top: -682px;
 margin-left: -100px;
} */
.par2 {
 width: 80px;
 height: 681px;
 transform: skew(45deg);
 background: white;

 border-left:100px solid #ff8a66;
 border-bottom: 681px solid white;

 margin-top: -682px;
 margin-left: -68px;
}

#ping-pong{
  padding-left: 30px;
}
.font-sizes{
  font-size: 20px;
}
.address{
  color: #002b80;
  font-size: 40px;
}
.info-padding{
  padding-left: 40px;
  font-weight: bold;
}
.col-md-4{
  z-index: 1;
}
.col-md-8{
  z-index: 2;
}

li {
  list-style-type: none;

}
.li-props{
  list-style-type: circle;
}
.ping-oval {
  margin-left: 50px;
  padding-left: 17px;
  padding-top: 5px;

      width: 60px;
      height: 30px;
      background: #ffb199;
      border-radius: 60px / 30px;
    }
.pong-oval{
  margin-left: 100px;
  padding-top: 9px;
  padding-left: 25px;

  width: 80px;
  height: 40px;
  background: #ff8a66;
  border-radius: 80px / 40px;

}
.pingpong-oval{
  padding-top: 15px;
  padding-left: 30px;
  margin-left: 100px;
  /* color: white; */
  width: 120px;
  height: 60px;
  background: #ffb199;
  border-radius: 100px / 50px;
}
.circle {
  margin-left: 15px;
  padding-left: 15px;
  padding-top: 10px;
  /* color: white; */
  height: 40px;
  width: 40px;
  background-color: #ffebe6;
  border-radius: 50%;
}
